body, html {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;
}
h1 {
    padding-left: 25px;
    margin: 0;
    padding: 25px;
    border-bottom: 5px solid #329e81;
    background-color: #eee;
    color: #333;
}
.thumbs {
    width: 40%;
}
ul {
    margin: 25px auto;
    width: 80%;
    max-width: 1000px;
    padding-left: 0;
}
li {
    display: inline-block;
    margin: 1%;
    padding: 0;
}
figure {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
}
figure img {
    border-bottom: 3px solid #329e81;
}
figcaption {
    padding: 5px;
    width: 100%;
    color: #329e81;
    text-align: center;
    font-size: .9em;
    letter-spacing: .03em;
}
.full {
    width: 60%;
    max-width: 675px;
    position: fixed;
    top: 120px;
    left: 35%;
    display: none;
    border-bottom: none;
}
li:hover .full {
    display: block;
}
footer {
    background-color: #eee;
    padding: 15px;
    text-align: center;
    color: #329e81;
    border-top: 5px solid #329e81;
}