body {
    background-image: url(img/debut_dark_@2X.png);
    font-family: 'Domine', sans-serif;
}
main {
    display: flex;
}
.container {
    margin-top: 75px;
    padding: 50px 0;
    width: 80%;
    background-color: #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #333;
}
.time {
    font-size: 7em;
}
.navbar-inverse {
    border-radius: 0;
    border-bottom: 3px solid #82237b;
}
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #82237b;
}