/* ---Generic Syles--- */

body {
    font-family:  'ubuntu';
}

/* ---Header--- */

header {
    padding: 35px;
    background-color: #333;
    border-bottom: 2px solid #555;
}
nav.navbar {
    width: 85%;
    margin: 0 auto;
    border: none;
    margin-bottom: 0;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    margin-top: 25px;
    border-color: #666;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:visited {
    background-color: #555;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ea4f5f;
}
div.container {
    display: inline;
}
h1 {
    width: 233px;
    height: 33px;
    margin-top: 0;
    background-image: url(/dream-home-site/img/logo.png);
    text-indent: -9999px;
}
.navbar-brand h2 {
    font-size: .6em;
    margin-top: -8px;
    text-transform: uppercase;
}
button {
    border-color: #333;
}
button.btn-styles:hover {
    background-color: #333;
}

/* ---Slider---*/

.slider {
    width: 100%;
    margin-top: 0;
    background-image: url(/dream-home-site/img/overlay.png);
}
.slider-wrapper {
    width: 85%;
    margin: 0 auto;
}
div.carousel {
    margin: 0;
    padding: 35px 0;
}

/* ---Carousel--- */

div.carousel img {
    margin: auto;
    width: auto;
}