/* ---Generic Syles--- */

body {
    font-family:  'ubuntu';
}

/* ---Header--- */

header {
    padding: 35px;
    background-color: #282828;
    border-bottom: 2px solid #444;
}
nav.navbar {
    width: 85%;
    margin: 0 auto;
    border: none;
    margin-bottom: 0;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
/*    margin-top: 25px;*/
    border-color: #666;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:visited {
    background-color: #555;
}
.navbar-default .navbar-collapse {
    border: none;
    width: 350px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ea4f5f;
}
.navbar-toggle {
    margin-right: 0;
}
.navbar-nav {
    margin-top: 25px;
}
div.container {
    padding: 0;
}
h1 {
    width: 233px;
    height: 33px;
    margin-top: 0;
    margin-left: 0;
    background-image: url(/dream-home-site/img/logo.png);
    text-indent: -9999px;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand h2 {
    font-size: .6em;
    margin-top: -8px;
    text-transform: uppercase;
}
.nav > li > a {
    padding: 15px 10px ;    
}
button {
    border-color: #333;
}
button.btn-styles:hover {
    background-color: #333;
}

/* ---Slider---*/

.slider {
    width: 100%;
    margin: 0;
    background-image: url(img/bg-slider.jpg);
}
.slider-content {
    width: 85%;
    margin: 0 auto;
}
div.carousel {
    padding: 0;
    margin: 35px 0;
}