* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Bitter' serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
p {
    font-size: .85em;
    line-height: 1.4em;
}
section {
    color: #3e3631;
}
article, figure, .form, news {
    background-color: #efefef;
}
/* ---HEADER---*/

header {
    background-image: url(img/road-bg-web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    min-width: 960px;
}
h1 {
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 35px;
    padding: 50px 20px;
    float: left;
    display: inline-block;
    text-indent: -9999px;
}
header nav {
    width: 700px;
    float: right;
    margin-top: 75px;
}
header nav ul {
    float: right;
}
header nav li {
    display: inline-block;
    margin: 5px;
}
header nav li a {
    padding: 15px;
    color: #fffdf1;
}
header nav li a:hover {
    color: #3e3631;
}
header h2{
    padding: 290px 0 150px;
    color: #fffdf1;
    text-align: center;
    letter-spacing: .05em;
}
.header-content {
    width: 960px;
    margin: 0 auto;
}
.header-content button {
    width: 100px;
    margin: 0 420px 35px;
    background-color: #fffdf1;
    color: #3e3631;
    border: none;
}
.header-content button:hover {
    background-color: #3e3631;
}
.header-content button a {
    display:block;
    padding: 15px;
    font-family: 'Bitter' serif;
    font-size: 1.4em;
}
.header-content button a:hover {
    color: #fffdf1;
}

/* ---MAIN: SECTION 1 - CAMPAIGNS--- */

main {
    width: 960px;
    margin: 0 auto;
}
article {
    margin: 35px 0;
    border-left: 5px solid #3e3631;
    overflow: auto;
    position: relative;
}
article img {
    float: right;
}
article:nth-child(even) img {
    float: left;
}
article:nth-child(even) {
    border-left: none;
    border-right: 5px solid #3e3631;
}
.article-content {
    padding: 25px 25px 0 25px;
    overflow: auto;
}
.article-content h2 {
    margin-bottom: 15px;
}
article button {
    position: absolute;
    bottom: 25px;
    width: 125px;
    background-color: #3e3631;
    border: none;
}
article button:hover {
    background-color: #333;
}
article button a {
    display:block;
    padding: 15px;
    color: #fffdf1;
    font-family: 'Bitter' serif;
    font-size: 1.4em;
}
article button a:hover {
    color: #66aaa4;
}
.radio-buttons {
    width: 60px;
}
.radio {
    position: absolute;
    bottom: 25px;
    right: 600px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3e3631;
}
.radio:nth-child(2) {
    right: 625px;
}
.radio:nth-child(3) {
    right: 650px;
    background-color: #66aaa4;
}
article:nth-child(even) .radio{
    position: absolute;
    bottom: 25px;
    right: 25px;
}
article:nth-child(even) .radio:nth-child(2){
    right: 50px;
}
article:nth-child(even) .radio:nth-child(3) {
    right: 75px;
}
/* ---MAIN: SECTION 2 - DONATE---*/

.donate {
    overflow: auto;
}
.form {
    float: left;
    width: 420px;
    padding: 25px;
    border-left: 5px solid #3e3631;
}
.form h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}
input {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 10px 10px;
    background-color: #fefefe;
    color: #555;
    border: 1px solid #ccc;
}
.form button {
    display: block;
    width: 100px;
    margin-top: 15px;
    background-color: #3e3631;
    border: none;
}
.form button:hover {
    background-color: #333;
}
.form button a {
    display:block;
    padding: 10px;
    color: #fffdf1;
    font-family: 'Bitter' serif;
    font-size: 1.4em;
}
.form button a:hover {
    color: #66aaa4;
}
.donate .profiles {
    width: 505px;
    float: right;
}
.donate figure {
    width: 220px;
    position: relative;
    border-left: 5px solid #555;
}
.donate figure:nth-child(1) {
    float: left;
    margin-left: 15px;
}
.donate figure:nth-child(2) {
    float: right;
}
.donate figure img.profile-pic {
    position: absolute;
    top: 25px;
    left: -25px;
}
.donate figcaption {
   padding: 25px 25px 67px 50px; 
}  
.donate time {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: .8em;
}
.donate span, .retweet p {
    font-style: italic;
}
.retweet img, .retweet p{
    position: absolute;
    bottom: 20px;
}
.retweet p {
    margin-left: 30px;
}
.profiles .radio {
    right: 25px;
}

/* ---MAIN: SECTION 3 - NEWS---*/

.news {
    position: relative;
    margin: 40px 0px;
    padding: 35px 0 335px;
    border-top: 5px solid #3e3631;
    border-bottom: 5px solid #3e3631;
}
.news h2 {
    position:absolute;
    top: -30px;
    left: 405px;
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.news figure {
    width: 290px;
    float: left;
}
.news figure:nth-child(3) {
    margin-left: 45px;
    margin-right: 45px;
}
.news img {
    border-bottom: 5px solid #3e3631;
}
.news figcaption {
    padding: 15px;
    font-size: .8em;
}
.news h3 {
    margin-bottom: 10px;
}
.news a {
    position: relative;
    left: 195px;
    color: #3e3631;
    font-size: .9em;
}
.news a:hover {
    color: #66aaa4;
}

/* ---MAIN: FOOTER--- */

.footer-info {
    overflow: auto;
}
.footer-info img, footer-info nav, .footer-info nav div {
    float: left;
}
.footer-info nav {
    overflow: auto;
    width: 300px;
    margin: 0 200px;
}